@page "/weather"
@rendermode InteractiveWebAssembly
@* @rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false)) *@

<PageTitle>Weather</PageTitle>

<div class="counter-bdg badge rounded-pill text-bg-primary">
    @if(AssignedRenderMode is null)
    {
        <span>Static</span>
    }
    else if (AssignedRenderMode == InteractiveServer)
    {
        <span>Server</span>
    }
    else if (AssignedRenderMode == InteractiveWebAssembly)
    {
        <span>WebAssembly</span>
    }
    else if (AssignedRenderMode == InteractiveAuto)
    {
        <span>Auto</span>
    }
</div>

<div class="counter-bdg badge rounded-pill text-bg-success">
    <span>@RendererInfo.Name</span>
</div>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (_forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Farenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in _forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}